app/views/statutes/_form.html.slim
= form_for(statute) do |f|
  - if statute.errors.any?
    #error_explanation
      h2
        = pluralize(statute.errors.count, "error")
        | prohibited this statute from being saved:
      ul
        - statute.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :ina
    = f.text_field :ina
  .field
    = f.label :usc
    = f.text_field :usc
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit

app/views/statutes/_form.html.erb
<%= form_for(statute) do |f| %>
  <% if statute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statute.errors.count, "error") %> prohibited this statute from being saved:</h2>

      <ul>
      <% statute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ina %>
    <%= f.text_field :ina %>
  </div>

  <div class="field">
    <%= f.label :usc %>
    <%= f.text_field :usc %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
