app/views/statutes/show.html.erb
<p id="notice"><%= notice %></p>

<h1>Immigration and Nationality Act (INA) Section <%= @statute.ina %> (USC Section <%= @statute.usc %>)</h1>
<h2><%= @statute.title %></h2>
<div class="btn-group" role="group">
<button type="button" class="btn btn-secondary"><%= link_to 'Index', statutes_path %></button>
</div>
<div class="btn-group" role="group">
<button type="button" class="btn btn-secondary"><%= link_to 'Previous', @statute.prev %></button>
<button type="button" class="btn btn-secondary"><%= link_to 'Next', @statute.next %></button>
</div>
<legislation>

    <% @statute.sections.each do |section| %>
       
        <p class="level-<%= section.level %>">
            <% unless section.citation.nil? %>
                <%= section.fullcite %>
            <% end %> 
        <%= section.content %>
      
    <% end %>
</legislation>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary"><%= link_to 'Index', statutes_path %></button>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary"><%= link_to 'Previous', @statute.prev %></button>
    <button type="button" class="btn btn-secondary"><%= link_to 'Next', @statute.next %></button>
</div>

app/views/statutes/show.html.haml
%p#notice= notice
%h1
  Immigration and Nationality Act (INA) Section #{@statute.ina} (USC Section #{@statute.usc})
%h2= @statute.title
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Index', statutes_path
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Previous', @statute.prev
  %button.btn.btn-secondary{:type => "button"}= link_to 'Next', @statute.next
%legislation
  - @statute.sections.each do |section|
    %p{:class => "level-#{section.level}"}
      - unless section.citation.nil?
        = section.fullcite
      = section.content
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Index', statutes_path
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Previous', @statute.prev
  %button.btn.btn-secondary{:type => "button"}= link_to 'Next', @statute.next
