app/views/sections/_form.html.slim
= form_for(section) do |f|
  - if section.errors.any?
    #error_explanation
      h2
        = pluralize(section.errors.count, "error")
        | prohibited this section from being saved:
      ul
        - section.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :citation
    = f.text_field :citation
  .field
    = f.label :section
    = f.number_field :section
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :ina
    = f.text_field :ina
  .field
    = f.label :usc
    = f.text_field :usc
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit

app/views/sections/_form.html.erb
<%= form_for(section) do |f| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :citation %>
    <%= f.text_field :citation %>
  </div>

  <div class="field">
    <%= f.label :section %>
    <%= f.number_field :section %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>

  <div class="field">
    <%= f.label :ina %>
    <%= f.text_field :ina %>
  </div>

  <div class="field">
    <%= f.label :usc %>
    <%= f.text_field :usc %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
